/* Basic shit */

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}

:root {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    --darkGray: #202020;
    --white: #ffffff;
    --gray: #464646;
    --green: seagreen;
    --lightGreen: #04AA6D;
    --red: #f44336;
    --blue: #008CBA;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navigation bar */

nav {
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: rgb(212, 235, 255);
    gap: 20px;
}

/* Nav div (placeholder) */

nav>a {
    height: 100%;
    padding-top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--gray);
    text-align: center;
    transition: all .5s;
}

nav>a.active {
    font-weight: 600;
}
/*
nav>a.login {
    justify-self: right;
}

nav>a:hover {
    background-color: var(--darkGray);
}

nav>a.active:hover {
    background-color: var(--green);
}
*/
/* Other */

.index-h1 {
    /* Gradient */
    font-size: 72px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, rgba(191,138,0,1) 0%, rgba(200,191,0,1) 30%, rgba(191,138,0,1) 70%, rgba(200,191,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}