
.p_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
    gap: 10px;

}

.project {
    width: 15vw;
    height: 30vh;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--formInputBackground);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    cursor: pointer;
    border-style: solid;
    border-color: var(--formInputBackground);
    transition: 0.7s;
}

.project:hover{
    border-color: #ffdd00;
    transition: 0.7s;
}
.p_type{
    height: 100%;
    width: 60vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr 1fr);
    gap: 3rem;
    justify-content: center;
    background: var(--buttonBackgroundColor);
    border: solid 1px var(--formBorder);
    border-radius: 10px;
    padding: 0 6px 40px 6px;

}

a{
    font-size: 20px;
    text-decoration: none;
    color: var(--textColor);
    padding: 13px 35px;

}

.members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.members>h1{
    font-size: 40px;
}

.members>p{
    font-size: 15px;
}

.add-members {
    width: 60px;
    height: 20px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    border-radius: 10vw;
    justify-content: center;
    align-items: center;
    background-color: var(--formInputBackground);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-members>a {
    font-size: 20px;
    text-decoration: none;
    color: var(--textColor);
    transition: all .5s;
}

.member_delete{
    border: none;
    height: 5px;
    padding: 20px;
}

.member>button{
    background-color: var(--formBorder); /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10vw;

}