
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20vh;
    gap: 10px;

}

.task {
    width: 15vw;
    height: 30vh;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--formInputBackground);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    cursor: pointer;
    border-style: solid;
    border-color: var(--formInputBackground);
    transition: 0.7s;
}

.task:hover{
    border-color: #ffdd00;
    transition: 0.7s;
}
.create-task {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--buttonBackgroundColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-task>a {
    font-size: 60px;
    text-decoration: none;
    color: var(--textColor);
    transition: all .5s;
}


.column {
    flex: 1;
    padding: 10px;
    height: 50vh;
    position: relative;
}

.column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #ffffff; /* Line color */
}

.task_type{
    height: 100%;
    display: grid;
    justify-content: center;
    width: 20vw;
    background: var(--buttonBackgroundColor);
    border: solid 1px var(--formBorder);
    border-radius: 10px;
    padding: 0 6px 40px 6px;

}
.task>h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task>p{
    font-size: 15px;
    width: 15vw;
    overflow-wrap: break-word;
}

.delete_form{
    background: none;
    border:none;
    padding: 0;
    margin-left: 200px ;
    margin-top: -50px;

}

.delete{
    cursor: pointer;
    border-color: var(--formInputBackground);
    transition: 0.7s;
}

.delete button{
    background-color: var(--formInputBackground);
    border: var(--formInputBackground);
    color: white;
}

.delete:hover{
    border-color: #ffdd00;
    transition: 0.7s;
}
